/* Search */
#custom-search-input{
    padding: 3px;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: solid 1px #E4E4E4;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

/* Footer */
.custom-footer {
    margin: 0 auto;
    padding: 5px 0;
    background-color: #eeeeee;
}

.custom-footer-icon{
    font-size:35px;
}

#custom-social{
    padding: 7px 0;
}

/* Body */
body {
    padding-bottom: 150px; /* Because of the fixed-bottom footer */
}

/* HTML */
html * {
    font-family: 'Lato', sans-serif;
}
